In [1]:
import os

os.chdir('C:/대학원/2019-1/1.전공/2.데이터마이닝/project/도로/result')
os.getcwd()

'C:\\대학원\\2019-1\\1.전공\\2.데이터마이닝\\project\\도로\\result'

In [20]:
import pandas as pd

doro_total = pd.read_csv('doro_total.csv',encoding='utf8')
weather = pd.read_csv('weather_merged.csv')
car1 = pd.read_csv('doro01.csv')
car2 = pd.read_csv('doro02.csv')
car3 = pd.read_csv('doro03.csv')
car4 = pd.read_csv('doro04.csv')
car5 = pd.read_csv('doro05.csv')
car6 = pd.read_csv('doro06.csv')
car7 = pd.read_csv('doro07.csv')
car8 = pd.read_csv('doro08.csv')
car9 = pd.read_csv('doro09.csv')
car10 = pd.read_csv('doro10.csv')
car11 = pd.read_csv('doro11.csv')
car12 = pd.read_csv('doro12.csv')

In [3]:
import numpy as np

print(len(car1.columns))
print(len(car2.columns))
print(len(car3.columns))
print(len(car4.columns))
print(len(car5.columns))
print(len(car6.columns))
print(len(car7.columns))
print(len(car8.columns))
print(len(car9.columns))
print(len(car10.columns))
print(len(car11.columns))
print(len(car12.columns))

32
32
32
35
35
35
35
36
36
36
36
36

# 1. 공통값 도로 제거 & 공통 링크 id 추출

In [21]:
dupli_col = ['링크아이디','01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시']

In [22]:
print('original 1 :',car1.shape)
car1 = car1.drop_duplicates(dupli_col,keep=False)
print('after remove :',car1.shape)

print('original 2 :',car2.shape)
car2 = car2.drop_duplicates(dupli_col,keep=False)
print('after remove :',car2.shape)

print('original 3 :',car3.shape)
car3 = car3.drop_duplicates(dupli_col,keep=False)
print('after remove :',car3.shape)

print('original 4 :',car4.shape)
car4 = car4.drop_duplicates(dupli_col,keep=False)
print('after remove :',car4.shape)

print('original 5 :',car5.shape)
car5 = car5.drop_duplicates(dupli_col,keep=False)
print('after remove :',car5.shape)

print('original 6 :',car6.shape)
car6 = car6.drop_duplicates(dupli_col,keep=False)
print('after remove :',car6.shape)

print('original 7 :',car7.shape)
car7 = car7.drop_duplicates(dupli_col,keep=False)
print('after remove :',car7.shape)

print('original 8 :',car8.shape)
car8 = car8.drop_duplicates(dupli_col,keep=False)
print('after remove :',car8.shape)

print('original 9 :',car9.shape)
car9 = car9.drop_duplicates(dupli_col,keep=False)
print('after remove :',car9.shape)

print('original 10 :',car10.shape)
car10 = car10.drop_duplicates(dupli_col,keep=False)
print('after remove :',car10.shape)

print('original 11 :',car11.shape)
car11 = car11.drop_duplicates(dupli_col,keep=False)
print('after remove :',car11.shape)

print('original 12 :',car12.shape)
car12 = car12.drop_duplicates(dupli_col,keep=False)
print('after remove :',car12.shape)

original 1 : (147466, 32)
after remove : (146056, 32)
original 2 : (133153, 32)
after remove : (131548, 32)
original 3 : (147478, 32)
after remove : (146124, 32)
original 4 : (141867, 35)
after remove : (140560, 35)
original 5 : (146522, 35)
after remove : (145254, 35)
original 6 : (141801, 35)
after remove : (140753, 35)
original 7 : (146543, 35)
after remove : (145302, 35)
original 8 : (146070, 36)
after remove : (145597, 36)
original 9 : (141827, 36)
after remove : (140868, 36)
original 10 : (146631, 36)
after remove : (145515, 36)
original 11 : (141930, 36)
after remove : (140842, 36)
original 12 : (146638, 36)
after remove : (145444, 36)

In [23]:
common_obs = list(set(car1.링크아이디) & set(car2.링크아이디) & set(car3.링크아이디) & set(car4.링크아이디) & set(car5.링크아이디) & set(car6.링크아이디) & set(car7.링크아이디) & set(car8.링크아이디) & set(car9.링크아이디) & set(car10.링크아이디) & set(car11.링크아이디) & set(car12.링크아이디))
print('공통 링크아이디 수 :',len(common_obs))

공통 링크아이디 수 : 4702

In [24]:
car1 = car1[car1['링크아이디'].isin(common_obs)]
car2 = car2[car2['링크아이디'].isin(common_obs)]
car3 = car3[car3['링크아이디'].isin(common_obs)]
car4 = car4[car4['링크아이디'].isin(common_obs)]
car5 = car5[car5['링크아이디'].isin(common_obs)]
car6 = car6[car6['링크아이디'].isin(common_obs)]
car7 = car7[car7['링크아이디'].isin(common_obs)]
car8 = car8[car8['링크아이디'].isin(common_obs)]
car9 = car9[car9['링크아이디'].isin(common_obs)]
car10 = car10[car10['링크아이디'].isin(common_obs)]
car11 = car11[car11['링크아이디'].isin(common_obs)]
car12 = car12[car12['링크아이디'].isin(common_obs)]

# 2. 1~2월 & 3~7월 없는 변수 도로 링크 id 기준으로 생성하기

In [6]:
car11.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object')

In [25]:
car2.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object')

In [26]:
merge_col = car11[['링크아이디','차선수', '기능유형구분','도심/외곽구분', '권역구분']]
merge_col = merge_col.drop_duplicates(['링크아이디'], keep='first')

car1 = pd.merge(car1,merge_col,on='링크아이디')
car1 = car1[car11.columns]
car2 = pd.merge(car2,merge_col,on='링크아이디')
car2 = car2[car11.columns]
car3 = pd.merge(car3,merge_col,on='링크아이디')
car3 = car3[car11.columns]

car4 = pd.merge(car4,merge_col[['링크아이디','차선수']],on='링크아이디')
car4 = car4[car11.columns]
car5 = pd.merge(car5,merge_col[['링크아이디','차선수']],on='링크아이디')
car5 = car5[car11.columns]
car6 = pd.merge(car6,merge_col[['링크아이디','차선수']],on='링크아이디')
car6 = car6[car11.columns]
car7 = pd.merge(car7,merge_col[['링크아이디','차선수']],on='링크아이디')
car7 = car7[car11.columns]

In [27]:
pd.set_option('display.max_columns', 500)
car2.head(2)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분,01시,02시,03시,04시,05시,06시,07시,08시,09시,10시,11시,12시,13시,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20180201,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,17.86,23.72,25.38,31.38,28.73,25.19,20.11,14.39,13.59,13.32,14.78,14.94,16.96,12.11,12.49,14.42,14.26,12.57,11.66,13.80,13.62,17.99,13.74,15.71
1,20180202,금,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,18.83,20.48,19.01,25.27,20.52,26.52,17.87,18.81,12.70,12.97,15.87,14.52,14.06,12.37,13.07,10.79,12.09,12.42,11.95,11.45,11.97,14.06,12.59,12.46

In [28]:
print(len(car1.columns))
print(len(car2.columns))
print(len(car3.columns))
print(len(car4.columns))
print(len(car5.columns))
print(len(car6.columns))
print(len(car7.columns))
print(len(car8.columns))
print(len(car9.columns))
print(len(car10.columns))
print(len(car11.columns))
print(len(car12.columns))

36
36
36
36
36
36
36
36
36
36
36
36

# 3. 시간 00~05시 제거

In [29]:
drop_col = ['01시', '02시', '03시', '04시', '05시', '24시']

car1.drop(drop_col, axis=1, inplace=True)
car2.drop(drop_col, axis=1, inplace=True)
car3.drop(drop_col, axis=1, inplace=True)
car4.drop(drop_col, axis=1, inplace=True)
car5.drop(drop_col, axis=1, inplace=True)
car6.drop(drop_col, axis=1, inplace=True)
car7.drop(drop_col, axis=1, inplace=True)
car8.drop(drop_col, axis=1, inplace=True)
car9.drop(drop_col, axis=1, inplace=True)
car10.drop(drop_col, axis=1, inplace=True)
car11.drop(drop_col, axis=1, inplace=True)
car12.drop(drop_col, axis=1, inplace=True)

In [32]:
car11.columns

Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시'],
      dtype='object')

# 4. long form으로 만들기

In [34]:
car1.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car2.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car3.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car4.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car5.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car6.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car7.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car8.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car9.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car10.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car11.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car12.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t6','t7','t8','t9','t10','t11','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']

In [33]:
car2.head(1)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,도심/외곽구분,권역구분,06시,07시,08시,09시,10시,11시,12시,13시,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20180201,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,25.19,20.11,14.39,13.59,13.32,14.78,14.94,16.96,12.11,12.49,14.42,14.26,12.57,11.66,13.8,13.62,17.99,13.74

In [35]:
print(list(car2.columns[:12]))

['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point', 'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb', 'district']

In [36]:
melt_col = list(car2.columns[:12])

car1 = pd.melt(car1, id_vars = melt_col)
car2 = pd.melt(car2, id_vars = melt_col)
car3 = pd.melt(car3, id_vars = melt_col)
car4 = pd.melt(car4, id_vars = melt_col)
car5 = pd.melt(car5, id_vars = melt_col)
car6 = pd.melt(car6, id_vars = melt_col)
car7 = pd.melt(car7, id_vars = melt_col)
car8 = pd.melt(car8, id_vars = melt_col)
car9 = pd.melt(car9, id_vars = melt_col)
car10 = pd.melt(car10, id_vars = melt_col)
car11 = pd.melt(car11, id_vars = melt_col)
car12 = pd.melt(car12, id_vars = melt_col)

In [37]:
car2.head(3)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value
0,20180201,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,t6,25.19
1,20180202,금,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,t6,26.52
2,20180203,토,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,t6,16.50

In [38]:
car11.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb',
       'district', 'variable', 'value'],
      dtype='object')

In [39]:
car1['variable'] = car1['variable'].str.replace('t','').astype(int)
car2['variable'] = car2['variable'].str.replace('t','').astype(int)
car3['variable'] = car3['variable'].str.replace('t','').astype(int)
car4['variable'] = car4['variable'].str.replace('t','').astype(int)
car5['variable'] = car5['variable'].str.replace('t','').astype(int)
car6['variable'] = car6['variable'].str.replace('t','').astype(int)
car7['variable'] = car7['variable'].str.replace('t','').astype(int)
car8['variable'] = car8['variable'].str.replace('t','').astype(int)
car9['variable'] = car9['variable'].str.replace('t','').astype(int)
car10['variable'] = car10['variable'].str.replace('t','').astype(int)
car11['variable'] = car11['variable'].str.replace('t','').astype(int)
car12['variable'] = car12['variable'].str.replace('t','').astype(int)

In [40]:
car3.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value
0,20180301,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,6,21.31

# 5. doro_total 변수 생성

In [41]:
doro_total.head(3)

,도로명,링크아이디,시점명,종점명,방향,CCTV,어린이,노인,장애인,생활도로,제한속도,진출입구,신호기
0,문래로,1180021600,문래중교,영문초교,상행,0.0,1.0,0.0,0.0,0.0,30.0,21.0,30.0
1,문래로,1180021200,영문초교,문래역,상행,0.0,1.0,0.0,0.0,0.0,30.0,21.0,30.0
2,문래로,1180019600,문래역,영남교회,상행,0.0,0.0,0.0,0.0,0.0,30.0,21.0,30.0

In [42]:
doro_total.drop(['도로명','시점명','종점명','방향','노인','장애인','생활도로'],axis=1, inplace=True)

In [43]:
doro_total.head(1)

        링크아이디  CCTV  어린이  제한속도  진출입구   신호기
0  1180021600   0.0  1.0  30.0  21.0  30.0

In [44]:
doro_total.columns = ['link_id','cctv','kids','speed_limit','entrance','signal']

In [45]:
car1 = pd.merge(car1, doro_total, on=['link_id'], how='inner')
car2 = pd.merge(car2, doro_total, on=['link_id'], how='inner')
car3 = pd.merge(car3, doro_total, on=['link_id'], how='inner')
car4 = pd.merge(car4, doro_total, on=['link_id'], how='inner')
car5 = pd.merge(car5, doro_total, on=['link_id'], how='inner')
car6 = pd.merge(car6, doro_total, on=['link_id'], how='inner')
car7 = pd.merge(car7, doro_total, on=['link_id'], how='inner')
car8 = pd.merge(car8, doro_total, on=['link_id'], how='inner')
car9 = pd.merge(car9, doro_total, on=['link_id'], how='inner')
car10 = pd.merge(car10, doro_total, on=['link_id'], how='inner')
car11 = pd.merge(car11, doro_total, on=['link_id'], how='inner')
car12 = pd.merge(car12, doro_total, on=['link_id'], how='inner')

In [48]:
car9.head(5)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value,cctv,kids,speed_limit,entrance,signal
0,20180901,토,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,NaN,0.0,0.0,40.0,25.0,8.0
1,20180902,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,NaN,0.0,0.0,40.0,25.0,8.0
2,20180903,월,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,NaN,0.0,0.0,40.0,25.0,8.0
3,20180904,화,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,NaN,0.0,0.0,40.0,25.0,8.0
4,20180907,금,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,43.17,0.0,0.0,40.0,25.0,8.0

In [47]:
car10.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value,cctv,kids,speed_limit,entrance,signal
0,20181001,월,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,외곽,강북구,6,43.47,0.0,0.0,40.0,25.0,8.0

# 6. accident 데이터 합치기

In [61]:
accident_new = pd.read_csv('accident_new.csv',encoding='utf8')

In [62]:
accident_new.head(1)

     도로명  사망자수  중상자수  경상자수  부상신고자수  victims  severity  count
0  4.19로     0     3    15       1       19        55     13

In [63]:
accident_new.columns = ['road_name','d1','d2','d3','d4','victims','severity','accident_count']
accident_new.head(3)

  road_name  d1  d2  d3  d4  victims  severity  accident_count
0     4.19로   0   3  15   1       19        55              13
1       63로   0   0   3   1        4        10               3
2       가락로   0  20  50  15       85       225              70

In [64]:
car1 = pd.merge(car1, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car2 = pd.merge(car2, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car3 = pd.merge(car3, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car4 = pd.merge(car4, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car5 = pd.merge(car5, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car6 = pd.merge(car6, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car7 = pd.merge(car7, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car8 = pd.merge(car8, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car9 = pd.merge(car9, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car10 = pd.merge(car10, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car11 = pd.merge(car11, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])
car12 = pd.merge(car12, accident_new, how = 'left', left_on = ['road_name'], right_on = ['road_name'])

In [65]:
car1.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value,cctv,kids,speed_limit,entrance,signal,d1,d2,d3,d4,victims,severity,accident_count
0,20180101,월,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,6,21.7,0.0,0.0,40.0,25.0,8.0,0.0,3.0,15.0,1.0,19.0,55.0,13.0

In [66]:
print(len(car1.columns))
print(len(car2.columns))
print(len(car3.columns))
print(len(car4.columns))
print(len(car5.columns))
print(len(car6.columns))
print(len(car7.columns))
print(len(car8.columns))
print(len(car9.columns))
print(len(car10.columns))
print(len(car11.columns))
print(len(car12.columns))

26
26
26
26
26
26
26
26
26
26
26
26

# 7. intersection 변수 생성

In [68]:
intersection = pd.read_csv('intersection.csv')
intersection.head(3)

     도로명   상행   하행
0  4.19로  2.0  2.0
1    가락로  4.0  4.0
2  가로공원로  4.0  4.0

In [69]:
intersection = intersection.melt(id_vars = '도로명')
intersection.columns = ['road_name','direction','inter_num']
intersection.head()

  road_name direction  inter_num
0     4.19로        상행        2.0
1       가락로        상행        4.0
2     가로공원로        상행        4.0
3  가로공원로76길        상행        1.0
4      가마산로        상행       10.0

In [70]:
car1 = pd.merge(car1, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car2 = pd.merge(car2, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car3 = pd.merge(car3, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car4 = pd.merge(car4, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car5 = pd.merge(car5, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car6 = pd.merge(car6, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car7 = pd.merge(car7, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car8 = pd.merge(car8, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car9 = pd.merge(car9, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car10 = pd.merge(car10, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car11 = pd.merge(car11, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])
car12 = pd.merge(car12, intersection, how = 'left', left_on = ['road_name','direction'], right_on = ['road_name','direction'])

In [71]:
car8.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value,cctv,kids,speed_limit,entrance,signal,d1,d2,d3,d4,victims,severity,accident_count,inter_num
0,20180801,수,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,외곽,강북구,6,43.69,0.0,0.0,40.0,25.0,8.0,0.0,3.0,15.0,1.0,19.0,55.0,13.0,2.0

# 8. 날씨 merge

In [73]:
weather.drop(['지점', '일시','id'],axis=1,inplace=True)
weather['일자'] = weather['일자'].apply(lambda x: int(x.replace("-","")))
weather = weather.rename(columns={'일자':'date'})
weather.head(2)

   temperature  wind  rain      date district  time  snow
0         -0.7   1.1   0.0  20180101      강남구     0   0.0
1         -0.9   0.9   0.0  20180101      강남구     1   0.0

In [75]:
car1 = car1.rename(columns = {'variable': 'time'})
car2 = car2.rename(columns = {'variable': 'time'})
car3 = car3.rename(columns = {'variable': 'time'})
car4 = car4.rename(columns = {'variable': 'time'})
car5 = car5.rename(columns = {'variable': 'time'})
car6 = car6.rename(columns = {'variable': 'time'})
car7 = car7.rename(columns = {'variable': 'time'})
car8 = car8.rename(columns = {'variable': 'time'})
car9 = car9.rename(columns = {'variable': 'time'})
car10 = car10.rename(columns = {'variable': 'time'})
car11 = car11.rename(columns = {'variable': 'time'})
car12 = car12.rename(columns = {'variable': 'time'})

In [76]:
car1 = pd.merge(car1,weather,on=['date','district','time'],how='inner')
car2 = pd.merge(car2,weather,on=['date','district','time'],how='inner')
car3 = pd.merge(car3,weather,on=['date','district','time'],how='inner')
car4 = pd.merge(car4,weather,on=['date','district','time'],how='inner')
car5 = pd.merge(car5,weather,on=['date','district','time'],how='inner')
car6 = pd.merge(car6,weather,on=['date','district','time'],how='inner')
car7 = pd.merge(car7,weather,on=['date','district','time'],how='inner')
car8 = pd.merge(car8,weather,on=['date','district','time'],how='inner')
car9 = pd.merge(car9,weather,on=['date','district','time'],how='inner')
car10 = pd.merge(car10,weather,on=['date','district','time'],how='inner')
car11 = pd.merge(car11,weather,on=['date','district','time'],how='inner')
car12 = pd.merge(car12,weather,on=['date','district','time'],how='inner')

In [77]:
car6.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,time,value,cctv,kids,speed_limit,entrance,signal,d1,d2,d3,d4,victims,severity,accident_count,inter_num,temperature,wind,rain,snow
0,20180601,금,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,6,22.62,0.0,0.0,40.0,25.0,8.0,0.0,3.0,15.0,1.0,19.0,55.0,13.0,2.0,18.9,0.7,0.0,0.0

# 9. 미세먼지 merge

In [98]:
air1 = pd.read_csv('air01.csv')
air4 = pd.read_csv('air04.csv')
air7 = pd.read_csv('air07.csv')
air10 = pd.read_csv('air10.csv')

air2 = pd.read_csv('air02.csv')
air5 = pd.read_csv('air05.csv')
air8 = pd.read_csv('air08.csv')
air11 = pd.read_csv('air11.csv')

air36912 = pd.read_csv('air36912.csv')

In [99]:
air = pd.concat([air1, air4])
air = pd.concat([air, air7])
air = pd.concat([air, air10])
air = pd.concat([air, air2])
air = pd.concat([air, air5])
air = pd.concat([air, air8])
air = pd.concat([air, air11])
air = pd.concat([air, air36912])
air = pd.DataFrame(air)

In [100]:
air.to_csv("air.csv",index=False)

In [130]:
air['date'] = air['날짜'].apply(lambda x: int(x[:10].replace("-","")))
air['time'] = air['날짜'].apply(lambda x: int(x[-2:]))

In [131]:
air.drop(['날짜','시도','측정소코드'],axis=1,inplace=True)

In [132]:
air.columns = ['district','SO2','CO','O3','NO2','PM10','PM2.5','date','time']

In [133]:
air.head(1)

  district    SO2   CO    O3   NO2  PM10  PM2.5      date  time
0       중구  0.004  0.5  0.02  0.02  34.0   19.0  20180101     1

In [139]:
air = air.reset_index(drop = True)

In [124]:
air.index

RangeIndex(start=0, stop=219000, step=1)

In [140]:
def NA_mean(air, col, date, time) :
    return air[(air['date'] == date) & (air['time'] == time)][col].mean()

In [141]:
cols = ['SO2','CO','O3','NO2','PM10','PM2.5']
for col in cols :
    frame = air[air[col].isnull()]
    mean_value = frame.apply(lambda x : NA_mean(air, col, x['date'],x['time']), axis =1)
    air.loc[mean_value.index, col] = mean_value

In [142]:
air.isnull().sum()

district    0
SO2         0
CO          0
O3          0
NO2         0
PM10        0
PM2.5       0
date        0
time        0
dtype: int64

In [145]:
car1 = pd.merge(car1,air,on=['date','district','time'])
car2 = pd.merge(car2,air,on=['date','district','time'])
car3 = pd.merge(car3,air,on=['date','district','time'])
car4 = pd.merge(car4,air,on=['date','district','time'])
car5 = pd.merge(car5,air,on=['date','district','time'])
car6 = pd.merge(car6,air,on=['date','district','time'])
car7 = pd.merge(car7,air,on=['date','district','time'])
car8 = pd.merge(car8,air,on=['date','district','time'])
car9 = pd.merge(car9,air,on=['date','district','time'])
car10 = pd.merge(car10,air,on=['date','district','time'])
car11 = pd.merge(car11,air,on=['date','district','time'])
car12 = pd.merge(car12,air,on=['date','district','time'])

# 10. holiday 변수 붙이기

In [113]:
holiday = pd.read_csv('holiday.csv')
holiday.columns = ['ee']

In [114]:
holiday.head(3)

                  ee
0  20180101\t1\t0\t0
1  20180102\t0\t0\t0
2  20180103\t0\t0\t0

In [115]:
holiday['date'] = holiday['ee'].apply(lambda x: int(x[:8]))
holiday['holiday'] = holiday['ee'].apply(lambda x: int(x[9:10]))
holiday['special'] = holiday['ee'].apply(lambda x: int(x[11:12]))
holiday['vacation'] = holiday['ee'].apply(lambda x: int(x[13:14]))
holiday.drop('ee',axis=1,inplace=True)
holiday.head(2)

       date  holiday  special  vacation
0  20180101        1        0         0
1  20180102        0        0         0

In [143]:
car1 = pd.merge(car1,holiday,on=['date'])
car2 = pd.merge(car2,holiday,on=['date'])
car3 = pd.merge(car3,holiday,on=['date'])
car4 = pd.merge(car4,holiday,on=['date'])
car5 = pd.merge(car5,holiday,on=['date'])
car6 = pd.merge(car6,holiday,on=['date'])
car7 = pd.merge(car7,holiday,on=['date'])
car8 = pd.merge(car8,holiday,on=['date'])
car9 = pd.merge(car9,holiday,on=['date'])
car10 = pd.merge(car10,holiday,on=['date'])
car11 = pd.merge(car11,holiday,on=['date'])
car12 = pd.merge(car12,holiday,on=['date'])

In [146]:
car1.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,time,value,cctv,kids,speed_limit,entrance,signal,d1,d2,d3,d4,victims,severity,accident_count,inter_num,temperature,wind,rain,snow,holiday,special,vacation,SO2,CO,O3,NO2,PM10,PM2.5
0,20180101,월,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,6,21.7,0.0,0.0,40.0,25.0,8.0,0.0,3.0,15.0,1.0,19.0,55.0,13.0,2.0,-3.2,0.7,0.0,0.0,1,0,0,0.003,0.5,0.018,0.02,29.0,13.0

# 11. 1월~12월 concat 하기

In [150]:
# 결측치 처리
car1.dropna(inplace=True)
car2.dropna(inplace=True)
car3.dropna(inplace=True)
car4.dropna(inplace=True)
car5.dropna(inplace=True)
car6.dropna(inplace=True)
car7.dropna(inplace=True)
car8.dropna(inplace=True)
car9.dropna(inplace=True)
car10.dropna(inplace=True)
car11.dropna(inplace=True)
car12.dropna(inplace=True)

MemoryError:

In [151]:
car1.isnull().sum()

date                  0
days                  0
road_name             0
link_id               0
start_point           0
end_point             0
direction             0
road_length           0
road_num              0
road_type             0
urban_suburb          0
district              0
time                  0
value              2777
cctv              27288
kids              27288
speed_limit       27288
entrance          27288
signal            27288
d1                65450
d2                65450
d3                65450
d4                65450
victims           65450
severity          65450
accident_count    65450
inter_num             0
temperature           0
wind                  0
rain                  0
snow                  0
holiday               0
special               0
vacation              0
SO2                   0
CO                    0
O3                    0
NO2                   0
PM10                  0
PM2.5                 0
dtype: int64

In [149]:
car_b1 = pd.concat([car1,car2])
car_b1 = pd.concat([car_b1, car3])
car_b1 = pd.concat([car_b1, car4])
car_b1 = pd.concat([car_b1, car5])
car_b1 = pd.concat([car_b1, car6])

car_b2 = pd.concat([car7, car8])
car_b2 = pd.concat([car_b2, car9])
car_b2 = pd.concat([car_b2, car10])
car_b2 = pd.concat([car_b2, car11])
car_b2 = pd.concat([car_b2, car12])

car_b1 = pd.DataFrame(car_b1)
car_b2 = pd.DataFrame(car_b2)
print(car_b1.shape)
print(car_b2.shape)

MemoryError:

In [152]:
car1.to_csv("car1.csv",index=False)
car2.to_csv("car2.csv",index=False)
car3.to_csv("car3.csv",index=False)
car4.to_csv("car4.csv",index=False)
car5.to_csv("car5.csv",index=False)
car6.to_csv("car6.csv",index=False)
car7.to_csv("car7.csv",index=False)
car8.to_csv("car8.csv",index=False)
car9.to_csv("car9.csv",index=False)
car10.to_csv("car10.csv",index=False)
car11.to_csv("car11.csv",index=False)
car12.to_csv("car12.csv",index=False)